/*---------------Global----------------*/
body{
	background: #00b3d2;
	color:#fff;
}

/*---------------font----------------*/
@font-face{

}
.content .lead{
	font-size: 2em;
}
.content .lead b{
	font-weight:normal;
    background: #00778C;
    padding: 2px 6px;
}
.content .lead a,
.content .lead a:hover{
	color:#fff;
}
.utility span{
	display:block;
	font-size:16px;
	margin-bottom:10px;
	font-weight:bold;
}

/*---------------div.utility----------------*/
.utility .block{
	padding: 20px 15px;
	border-bottom: 2px solid #fff;
}
.utility #sign-up button{
	display:block;
	width: 100%;
	background:#549aaf;
	margin: 10px 0;
}
.utility #sign-up button:hover,
.utility #sign-up button:focus{
	text-decoration:underline;
	color:#fff;
	background:#549aaf;
}

/*---------------logo----------------*/
.lang-pref {
    position: absolute;
    top: 12px;
    right: 8px;
    font-size: 0.9em;
    color: #ffffff;
}

#message-box {

    color: #222222;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
}

.msg-error {
    background-color: #ffff00;
}
.msg-info {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.50);
}